* {
  box-sizing: border-box;
}

html {
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
}
body {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

/*  display: -webkit-flex;
  -webkit-flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -webkit-justify-content: flex-start;
  -webkit-align-content: stretch;
  -webkit-align-items: stretch;

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: stretch;
  align-items: stretch;*/

  z-index: 100;
  font-size: 14px;
  font-family: arial;
  /* paint it black! */
  background-color: rgba(255,255,255,1);
}